@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ios-dock::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #bfbfbf;
    opacity: 44%;
    filter: blur(50px);
    z-index: -1;
  }

  .sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5c5c5c;
    opacity: 5%;
    filter: blur(20px);
    z-index: -1;
    -webkit-filter: blur(20px);
  }

  .panel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    filter: blur(50px);
    z-index: -1;
    -webkit-filter: blur(50px);
  }
}
